@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  @apply w-full h-full
}

body {
  @apply md:bg-slate-900;
}

#root {
  @apply text-white;
}

#root,
.Mui-Modal,
.MuiModal-root {
  @apply md:max-w-[460px] md:mx-auto md:overflow-hidden;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

@keyframes pulse-25-50 {
  0% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .25;
  }
}