@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  @apply w-full h-full
}

#root {
  @apply overflow-hidden text-primary-100 bg-gray-700;
}

@keyframes pulse-25-50 {
  0% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .25;
  }
}